.jumbotron{
    width: 100%;
    color:white;

    text-align: center;
    margin-bottom: 50px;
    background-image: url(https://66.media.tumblr.com/6b6960eb32cfffec142b634f79f1ec6e/tumblr_nuy6y0GOmV1slwta9o10_400.gif)
}